@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/* BTN */
.btn-scale:hover{
  transform:scale(1.3);
  transition: all 0.5s ease-in-out;
}
.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #4C0800 !important;
}

.circular-btn-scale:hover{
  color: #fff;
  background-color: rgba(76,8,0,1) !important;
  transform: scale(1.1) !important;
  transition: all .5s ease-in-out;
  z-index: 9999;
}


.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
